.masthead {
    background: url("../assets/img/bg-masthead.jpg"),
                linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    padding: 0;

    h1 {
        font-family: $font-family-special;
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Make text pop more */
    }

    h2 {
        max-width: 30rem;
        font-size: 1.25rem;
        color: #fff; /* Ensure the subheading is white for contrast */
    }
}
